// Fonts
$base-font: 'Kaushan Script';
$comp-font: 'Kaushan Script';
$third-font: 'Montserrat';
$fourth-font: 'Droid Serif';

// Colors
$base-color: #EFEBE9;
$comp-color: #2f2e2e;
$third-color: #f7f7f7;






